<h1>List of projects</h1>

<table>
  

  <% @projects.each do |project| %>
    <tr>
    <a href="/projects/<%= project.id %>">
      <%= image_tag project.project_img.url(:project_index)%>
    </a>
    </tr>
  <% end %>
</table>
