<h1>List of projects</h1>

<div class="row">

  <% @projects.each do |project| %>
    <div class="col-md-3">
      <a href="/projects/<%= project.id %>">
        <%= image_tag project.project_img.url(:project_index), class: "project" %>
      </a>
    </div>
  <% end %>
</div>
